.git
.github
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
docker-compose*.yml
README.md
terraform/
.env
.env.*
!.env.example
